node_modules
ios
__tests__
.bundle
.vscode
android
.eslintrc.js
.gitignore
.node-version
.prettierrc.js
.ruby-version
.watchmanconfig
app.json
babel.config.js
Gemfile
index.js
metro.config.js
package-lock.json
package.json
yarn.lock
tsconfig.json
